* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  width: 50vw;
  margin-top: 50px;
  display: none;
  flex-direction: column;
}

.form-toogle {
  display: flex;
}

.text-toggle {
  text-decoration: line-through;
  text-decoration-style: double;
  text-decoration-color: #24bb0c;
}

.form form {
  width: 100%;
  display: flex;
}

.form form .containers {
  width: 85%;
  display: flex;
  flex-direction: column;
}

.form form .containers label {
  margin-bottom: 10px;
}

.form form .containers input {
  margin-bottom: 30px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid grey;
  border-radius: 10px;
}

.form form .containers textarea {
  border: 1px solid grey;
  border-radius: 10px;
}

.form form .inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form form .radio {
  width: 100%;
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  align-items: flex-start;
}

.form form .radio h4 {
  font-size: 14px;
  margin-bottom: 15px;
}

.form form .radio .radio-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form form .radio .radio-container div {
  margin-bottom: 10px;
}

.form .btn-container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

 .btn-container button {
  width: 94px;
  height: 34px;
  background-color: #fff;
  color: #0082cb;
  border: 1px solid #0082cb;
  border-radius: 8px;
}

.form .btn-container button:hover {
  background-color: #0082cb;
  color: #ffffff;
  border: 1px solid #0082cb;
}

#task-container {
  width: 50vw;
  margin-top: 50px;
  overflow-y: scroll;
  scrollbar-width: none;  
}

#task-container header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#task-container header button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
}

#task-container #tasks {
  margin-top: 40px;
  height: 80vh;
}

#task-container #tasks .task {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 150px;
  padding-left: 30px;
  padding-right: 10px;
  margin-top: 60px;
  border: 1px solid rgba(255, 255, 255, 0);
  border-left: 6px solid #24bb0c;
  border-radius: 6px;
  box-shadow: 11px 3px 27px 5px rgba(197, 196, 196, 0.78);
}

 .low {
  background-color: #FBFBFB;
}

 .medium {
  background-color: #FCFBE4;
}

 .high{
  background-color: #FFEEEE;
}

#task-container #tasks .task .text-container {
  height: 100px;
  width: 95%;
}

#task-container #tasks .task .text-container h2 {
  margin: 10px 0;
}


#task-container #tasks .task .text-container h6 {
  margin: 10px 0;
}

#task-container #tasks .task .text-container h4 {
  padding-right: 20px;
  height: 50px;
  width: 100%;
  overflow-wrap: break-word;
/*   overflow-y: scroll;
  scrollbar-width: none; */
}

#task-container #tasks .task .editing-btns {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
  margin-left: 10px;
}

#task-container #tasks .task .editing-btns button {
    height: 30px;
    width: 30px;
    background-color: #b5facc00;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 6px;
  }

.button-toggle {
  background-color: rgba(81, 219, 81, 0.877) !important;
}  

.edit-container {
  background-color: rgb(182, 182, 182);
  position: absolute;
  top: 120px;
  left: 140px;
  width: 70%;
  height: 200px;
  display: none;
  flex-direction: row;
  z-index: 999;
}

.edit-toggle {
  display: flex;
}

.edit-container .edits {
  width: 100%;
  height: 100%;
}

.edit-container input {
  width: 50%;
  height: 30px;
  margin: 10px 0;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 6px;
  padding-left: 5px;
}

.edit-container textarea {
  width: 80%;
  height: 70%;
  margin-bottom: 10px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid black;
  border-radius: 6px;
}

.edit-container .edit-btns {
  width: 50px;
  background-color: #edeeed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.edit-container .edit-btns button {
  margin: 20px 0;
  width: 70%;
  height: 30px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: #FBFBFB;
}
